$nav-color: #fafafa; // 导航色
$bg-color: #f0f0f0; // 背景颜色
$bg-color-warm: #FFF0E3; // 背景颜色暖色
$stroke-color: #dcdcdc; // 描边颜色
$btn-color: #646464; // 按钮颜色
$disable-color: #dcdcdc; // 不可以点击颜色
$emphases-text-color: #323232; // 重点色
$body-text-color: #646464; // 正文颜色
$desc-text-color: #969696; // 描述文本色
$main-color: #ff5f5f; // 主题色
$main-dark-color: #d65050; // 主题色
$assist-light-color: #FDC63B; // 辅助色
$assist-color: #fdb926; // 辅助色
$assist-dark-color: #FCA313; // 辅助色
$embellish-color: #4ed9d5; // 点缀色
$embellish-dark-color: #1DACA7; // 点缀色
$gray-border:#dcdcdc;
$mask-color:rgba(0,0,0,0.6);

$max-font-size: 56px;
$big-font-size: 48px;
$large-font-size: 42px;
$normal-font-size: 36px;
$small-font-size: 30px;
$mini-font-size: 26px;
$tiny-font-size: 22px;

$title-line-height: 90px;
$text-line-height: 110px;
$nav-line-height: 110px;
$learn-line-height: 150px;

$padding: 30px;
